@import "../../../assets/styles/variables";
@import "../../../assets/styles/flex";
@import "../../../assets/styles/sudo";

.board {
  @include flex(column, center, center, $spacer);
  margin-left: 16vw;
  padding: $spacer2x;

  &__header {
    width: 100%;
  }

  &__canvas {
    box-shadow: 0px 4px 30px 0 lighten($color: $black, $amount: 80);
  }
}
